
<div class="login-content">
    <div class="login-form">
        <h5>                 监控视频下载验证</h5>
        <BootstrapInput ShowLabel="true" DisplayText="DVR账号" @bind-Value="@urse" />
        <BootstrapInput ShowLabel="true" DisplayText="密码" @bind-Value="@pwd" type="password" />
    </div>
</div>

