
.header-right .menu[b-i37xp1fnqa] {
    border: none;
}

.header-right .dropdown-menu a[b-i37xp1fnqa] {
    text-align: left;
}

    .header-right .nav-item .nav-link:hover[b-i37xp1fnqa] {
        color: black;
    }
