@page "/DVROperation/CameraPicture/{Camera_ID}"
@using OnMonitor.ViewModel.Equipment.CameraVMs;
@inherits BasePage


@*<h3>@picturepath</h3>*@

<img src="@picturepath" height="600" width="1000" />





}
